%nav.navbar(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      %a.navbar-item(href="/")
        %span.title.is-2.title-header.mv10 Tweety

      %button.button.navbar-burger
        %span
        %span
        %span

    .navbar-menu
      .navbar-start
        .navbar-item
          = link_to "Publica", new_post_path
      .navbar-end
        .navbar-item
          - if current_user.username.empty?
            = current_user.email
          - else
            = current_user.username
        .navbar-item
          = link_to "Perfil", edit_user_registration_path
        .navbar-item
          = link_to "Salir", destroy_user_session_path, method: :delete
