.box
  %article.media
    .media-left
      %figure.image.is-64x64
        - if user.image.nil?
          %img(src="https://bulma.io/images/placeholders/64x64.png" alt="Image")
        - else
          %img(src="#{user.image}" alt="Image")
    .media-content
      .content
        %p
          %strong
            = print_username(user)
          %br
          %span= user.email
          %span= print_name(user)
      %nav.level.is-mobile.post-icons-container
        .level-left
          - if current_user.id != user.id
            - if !current_user.friend_requests.nil? and current_user.friend_requests.any? {|friend_request| user.id == friend_request.friend_id}
              %span.level-item Enviada
            - else
              = link_to friend_requests_path(friend_id: user.id), method: :post, class: 'level-item' do
                %span.icon.is-small
                  = fa_icon "user-plus"
          - else
            = link_to edit_user_registration_path, class: 'level-item' do
              %span.icon.is-small
                = fa_icon "star", class: "yellow"
