.columns
  .column.is-half.is-offset-one-quarter
    - @favorites.each do |post|
      .box
        %article.media
          .media-left
            %figure.image.is-64x64
              - if post.votable.user.image.nil?
                %img(src="https://bulma.io/images/placeholders/64x64.png" alt="Image")
              - else
                %img(src="#{post.votable.user.image}" alt="Image")
          .media-content
            .content
              %p
                %strong
                  = link_to post.votable.name, post_path(post)
                %small.has-text-weight-semibold
                  - if post.votable.user.username.empty?
                    @#{post.votable.user.email.sub(/@.*/, '')}
                  - else
                    @#{post.votable.user.username}
                %small.is-italic.is-pulled-right= distance_of_time_in_words(post.votable.created_at, Time.now, include_seconds: true)
                %br
                = post.votable.content
            %nav.level.is-mobile.post-icons-container
              .level-left
                %a.level-item
                  %span.icon.is-small
                    = fa_icon "reply"
                    %span.counter 12
                %a.level-item
                  %span.icon.is-small
                    = fa_icon "retweet"
                    %span.counter 12
                = link_to post_like_path(post.votable), class:"level-item", method: :put, remote: true do
                  %span.icon.is-small
                    - if post.votable.get_upvotes.size > 0
                      = fa_icon "heart", id: "like-button-#{post.votable.id}", class: "red"
                    - else
                      = fa_icon "heart-o", id: "like-button-#{post.votable.id}"
                    %span.counter(id="likes-counter-#{post.votable.id}")= post.votable.get_upvotes.size
