.columns.mt20
  .column.is-half.is-offset-one-quarter
    - @posts.each do |post|
      .box
        %article.media
          .media-left
            %figure.image.is-64x64
              %img(src="#{post.user.image}" alt="Image")
          .media-content
            .content
              %p
                %strong
                  = post.name
                %small.has-text-weight-semibold
                  - if post.user.username.nil?
                    = post.user.email
                  - else
                    @#{post.user.username}
                %small.is-italic.is-pulled-right= distance_of_time_in_words(post.created_at, Time.now, include_seconds: true)
                %br
                = post.content
            %nav.level.is-mobile
              .level-left
                %a.level-item
                  %span.icon.is-small
                    = fa_icon "reply"
                %a.level-item
                  %span.icon.is-small
                    = fa_icon "retweet"
                %a.level-item
                  %span.icon.is-small
                    = fa_icon "heart-o"
